{% extends 'base.html' %}
{% load static %}

    {% block title %}
        Опрос:
    {% endblock title %}
    {% block content %}
    <div> {{ questionnaire }}</div>
    <div> {{ point }} </div>
      <form method="post" href="#" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary" display:none>
              Дальше
          </button>
        </div>
        <fieldset class="point">
            <div>ВОПРОС: {{ point }}</div>
            <ul class="point-form">
              {% for question in questions %}
                <li>
                {{ question }} {{ form.name }}
                </li>
              {% endfor %}
            </ul>
          </fieldset>
      </form>
    {% endblock %}